


#logo{
    display: none;
}

#logo:hover{
    cursor: pointer;
}
#Layer_1{
    color:#555F62;
}

#Layer_1:hover{
    cursor: pointer;
}
nav{
display: flex;
justify-content: space-between;
height: 80px;
border-bottom: 1px solid rgb(225, 219, 219);
position: fixed;
width: 100%;
z-index: 4;
background-color: #FFFFFF;
}

.logo_one{
    color:#555F62;
}



.nav-button{
    width: 56px;
    height: 56px;
    background-color: #3a464d;
    position: fixed;
    right:20px;
    top:87vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1px;
    z-index: 3;
}

.nav-button-location{
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    position: fixed;
    right:20px;
    top:78vh;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3c2c2;
    z-index: 3;
}

.nav-button-location:hover{
    cursor: pointer;
}
.nav-button-location.active{
    display: flex;
}

.nav-button-contact{
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    position: fixed;
    right:20px;
    top:69vh;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3c2c2;
    z-index: 3;
}

.nav-button-contact:hover{
    cursor: pointer;
}


.nav-button-contact.active{
    display: flex;
    
}


.nav-button-email{
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    position: fixed;
    right:20px;
    top:60vh;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3c2c2;
    z-index: 3;

}

.nav-button-email:hover{
    cursor: pointer;
}

.nav-button-email.active{
    display: flex;
}

.circles{
    display: flex;
    flex-direction: column;
    gap:2px;
    transition: 0.3s ease;
}
.circle{
    width:6px;
    height:6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    
}

    
i.fa-x{
    display: none;
    color: #FFFFFF;
}

.fa-x.active{
    display: block;
}

.circles.active{
    display: none;
}

.nav-button:hover {
    background-color: #656e73;
    transition: background-color 0.4s;
    cursor: pointer;
}
.burger{
    display: none;
    position: relative;
    width:50px;
    height:50px;
    margin-left: auto;
}

.off_screen_menu{
    display: none;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
    position:absolute;
    top: 90px;
    right: 0;
    flex-direction: column;
    align-items: start;
    z-index: 4;
    overscroll-behavior: none;
}

.off_screen_menu.active{
    display: flex;
}





.burger:hover{
    cursor: pointer;
}


.first_line{
    width: 15px;
    height: 2.5px;
    border-radius: 3px;
    background-color: #555F62;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate (50%, -50%);
    top:25%;
    transition: 0.3s ease;

}

.second_line{
    width: 30px;
    height: 2.5px;
    border-radius: 3px;
    background-color: #555F62;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate (50%, -50%);
    transition: 0.3s ease;
}

.third_line{
    width: 25px;
    height: 2.5px;
    border-radius: 3px;
    background-color: #555F62;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate (50%,-50%);
    top:75%;
    transition: 0.3s ease;
}
.burger.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger.active .first_line{
    width: 30px;
    top: 50%;
    transform: rotate(45deg);
}

/* translate(50%,-50%) */

.burger.active .second_line{
    opacity: 0;
}

.burger.active .third_line{
    width: 30px;
    top: 50%;
    transform: rotate(-45deg); 
}

.burger.active main{
    display: none;
}



body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-margin: 100px;
}


.menu{
    display:none;
    width: 100%;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    height:100vh;
    position: absolute;

}

.nav_left{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 11%;
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 11%;
}


.head-logo{
    font-weight: 500;
}
.p-lang{
    margin: 0;
    font-size: 14px;
}

i.fa-globe{
    font-size:medium
}




li a {
    text-decoration: none;
    color: #4e5455;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: "DM Sans", sans-serif;
    
}
.list{
    list-style-type: none;
    gap: 25px;
    display: flex;
    margin: 0;
}

main{
    background-color: #F9FAFA;
    height:550vh
}

.p-nav{
    margin: 0;
    transition: color 0.6s;
    font-weight: 600;
    font-size: 14px;
    
}
.p-nav:hover{
    cursor: pointer;
    color: #3781ca;
}

.fa-magnifying-glass:hover{
    cursor: pointer;
    color: #3781ca;
    transition: color 0.4s;
}

.fa-solid{
   font-size: 20px;
    color: #555F62;
}

.nav-arrow{
    color: #2736CF;
}
.order{
    display: flex;
    gap:4px;
    color: #2736CF;
}
.language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    width: 65px;
    height:35px;
    border-radius: 5px;
    position: relative;
}
.language:hover{
    cursor: pointer;
    background-color: #d8dfdfb1;
    transition: background-color 0.4s;
}

.popup{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    width: 100%;
    height:45px;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #c3c2c2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease;
}

.popup-text:hover{
 cursor: pointer;
}
.popup-text{
    padding-top: 7px;
}


.language:hover .popup{
    display: block;
}






.p2{
    padding-top: 100px;
    margin-left: 11%;
    font-size: 14px;
}

.container_one{
    margin-top: 50px;
    width: 78%;
    height:50vh;
    margin-left: 11%;
    background-image: url('./images/1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    
}

.button{
    width: 150px;
    height:50px;
    background-color: #2736CF;
    background-position: top-center;
    background-size: 100% 100%;
    border: 0.5px solid black;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 70px;
    transition: background-color 0.4s;
}

.button:hover{
    background-color: #478ef2;
}
.arrow{
    color: #FFFFFF;;
}

.cont_one_paragraph{
    margin-left: 70px;
    color: #FFFFFF;
}

.h4-one{
    color: #FFFFFF;
    margin-left: 70px;
}

.h2_one{
    margin-left: 11%;
    padding-top: 100px;
    letter-spacing: 2px;

}
.h4_one{
    margin-left: 11%;
    padding-top: 100px;
    padding-bottom: 40px;
    letter-spacing: 2px;
    font-weight: 700;
}
.grid{
    width: 78%;
  margin-left: 11%;
  height: 80vh;
  display: grid;
  grid-template-areas: 
  "one one  two two" 
  "three three  two two";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  
}

.first_left{
    border-radius: 10px;
    grid-area: one;
    background-image: url("./images/left_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}





.first_left:hover {
    transform: scale(1.05);
    transition: transform 0.9s;
    cursor: pointer;
    
}

.right{
    border-radius: 10px;
    background-color: #27cf32;
    grid-area: two;
    background-image: url("./images/right.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.right:hover{
    transform: scale(1.05);
    transition: transform 0.9s;
    cursor: pointer;
}



.second_left{
    border-radius: 10px;
    background-color: #cf27c9;
    grid-area: three;
    background-image: url('./images/left_2.png');
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: end;
    flex-direction: column;

}

.second_left:hover{
    transform: scale(1.05);
    transition: transform 0.9s;
    cursor: pointer;
}

.h4_two, .p3{
    color: white;
    margin-bottom: 25px;
    margin-left: 25px;
}


.p3:hover{
    color: rgb(206, 197, 197);
    text-decoration: none;
    transition: text-decoration 0.5s;
    transition: color 0.5s;
}

.container_two{
    width: 78%;
    margin-left: 11%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 30px;
}

.box-one{
    width: 500px;;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.heading-one{
    font-size: 40px;
    font-weight: 800;
    margin-left: 35px;
}
.p4{
    margin-left: 35px;

}

.mycard{
    width: 95%;
    height:370px;
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    border: 1px solid #d4dde0;
    background-color: #F9FAFA;
  } 

  .mycard:hover{
    background-color: #FFFFFF;
    transition: background-color 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  

  .mycard-image{
    width: 100%;
    height:185px;
    background-image: url("./images/11.jpg");
    background-size: cover
  }

  .mycard-image1{
    width: 100%;
    height:185px;
    background-image: url("./images/22.png");
    background-size: cover
  }
  .mycard-image2{
    width: 100%;
    height:185px;
    background-image: url("./images/33.png");
    background-size: cover
  }
  .mycard-image3{
    width: 100%;
    height:185px;
    background-image: url("./images/44.png");
    background-size: cover;
  }
  .mycard-image4{
    width: 100%;
    height:185px;
    background-image: url("./images/55.png");
    background-size: cover;
  }
  .mycard-image5{
    width: 100%;
    height:185px;
    background-image: url("./images/66.png");
    background-size: cover
  }
  
  .card-p{
    font-size: 13px;
    font-weight: 500;
    margin-top: 30px;
    color: #555F62;
    text-align: start;
    margin-left: 33px;
  }
  
  .card-h5{
    text-align: start;
    margin-left: 30px;
    font-size: 17px;
    margin-top: 33px;
    font-weight: 700;

  }
  .card-h5-2{
    text-align: start;
    margin-left: 30px;
    font-size: 17px;
    margin-top: 33px;
    font-weight: 700;
  }

  .bank{
    width: 100%;
    height:60vh;
    margin-top: 100px;
    background-color: #FFFFFF;
    display: flex;
}

.left-bank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    margin-left: 11%;
}

.right-bank{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.image-3{
    height:400px;
    margin-right: 22%;
}

.svg-logos{
    width: 70px;
}

.p-bank{
    font-weight: 300;
    font-size: 17px;
    color:#4e5455;
    letter-spacing: 1px;
}

.google-play, .app-store{
    width: 130px;
    height:50px;
    border-radius: 5px;
    border: 1px solid rgb(230, 226, 226);
    background-color: #FFFFFF;
}
.app-store:hover{
    background-color: #F9FAFA;
}
.google-play:hover{
    background-color: #F9FAFA;
}
div.buttons{
    gap:15px;
    display: flex;
}
.image-3-responsive{
    display: none;
}

.h3-products{
    margin-top: 100px;
    margin-left: 11%;
    margin-bottom: 40px;
}
.products-container{
    width:78%;
    margin-left: 11%;
    gap:50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.product-image1{
    width: 100%;
    height:185px;
    background-image: url("./images/1n.png");
    background-size: cover;
    background-position: center;

}

.product-image2{
    width: 100%;
    height:185px;
    background-image: url("./images/2n.png");
    background-size: cover;
    background-position: center;

}

.product-image3{
    width: 100%;
    height:185px;
    background-image: url("./images/3n.png");
    background-size: cover;
    background-position: center;

}
.mycard-products{
    width: 33%;
    height:390px;
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    border: 1px solid #d4dde0;
    background-color: #F9FAFA;

}

.mycard-products:hover{
    cursor:pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.p-products{
    padding-left: 30px;
    padding-right: 30px;
    color: #555F62;
    font-weight: 350;
    font-size: 15px;
}

div.swiper {
    width: 78%;
    height: 400px;
    margin-left: 11%;
}

div.swiper2{
    width: 78%;
    height: 330px;
    margin-left: 11%;
}


.swiper-scrollbar {
        --swiper-scrollbar-border-radius: 10px;
        --swiper-scrollbar-top: auto;
        --swiper-scrollbar-bottom: 5px;
        --swiper-scrollbar-left: auto;
        --swiper-scrollbar-right: auto;
        --swiper-scrollbar-sides-offset: 1%;
        --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
        --swiper-scrollbar-drag-bg-color: #3781ca;
        --swiper-scrollbar-size: 2px;
      }

      .swiper-scrollbar:hover{
        cursor: grab;
      }


.container_three{
margin-top: 50px;
width: 78%;
height:50vh;
 margin-left: 11%;
background-image: url('./images/88.png');
background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
 border-radius: 5px;
 display: flex;
flex-direction: column;
 justify-content: center;
gap:15px;
        
}

.prices-card{
    max-width: 95%;
    height:300px;
    border-radius: 10px;
    margin-bottom: 40px;
    border: 1px solid #d4dde0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
}
.prices-card:hover{
    cursor:grab;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.prices-h{
font-size: 20px;
line-height: 26px;
position: absolute;
top:120px;
left:30px;
}

.prices-products{
    font-weight: 200;
    position: absolute;
    top:260px;
    left:30px;
}
.prices-logo{
    width: 200px;
    position: absolute;
    top:10px;
    left:30px;
}
.prices-logo-last{
    width: 200px;
    position: absolute;
    top:-20px;
    left:30px;

}

footer{
    height:60vh;
    position: relative;
}

.navbar-footer{
    width: 100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

#Layer_2{
    margin-left: 11%;
}

#Layer_2:hover{
    cursor: pointer;

}
.language-footer{
    margin-right:11%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    width: 65px;
    height:35px;
    border-radius: 5px;
    position: relative;
    
}

.popup1{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    width: 100%;
    height:45px;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #c3c2c2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease;
}

.language-footer:hover{
    cursor: pointer;
    background-color: #d8dfdfb1;
    transition: background-color 0.4s;
}

.language-footer:hover .popup1{
    display: block;
}


.nav-bottom{
    width: 100%;
    height: 70px;
    position: absolute;
    left:0;
    bottom:0;
    border-top: 1px solid rgb(225, 219, 219);
    display: flex;
    justify-content: space-between;
   
}

#logo-footer{
    color:#555F62;
}

.nav-bottom-left{
    margin-left: 11%;
    display: flex;
    align-items: center;
}

.nav-bottom-right{
    margin-right: 11%;
    display: flex;
    align-items: center;
    gap:18px;
}

.bottomnav-p{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 200;
}
.bottomnav-p1{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 200;
}

.bottomnav-p:hover{
    cursor: pointer;
    color: #2736CF;
    transition: all 0.3s;

}
.container-footer-info{
    width: 78%;
    height: 100px;
    display: flex;
    align-items: center;
    gap:21%;
    margin-top: 35px;
    margin-left: 11%;
}

.cont-info{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.footer-info-header{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 17px;
}
.footer-info-header1{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 17px;
}

.footer-info-header:hover{
cursor: pointer;
}
.footer-info-p{
    color:#555F62;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 17px;

}
.footer-info-p1{
    color:#555F62;
    letter-spacing: 0.3px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    gap:10px;
    font-size: 17px;
}
.footer-info-p1:hover{
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: underline;
}

.footer-info-p:hover{
    cursor: pointer;
    color: #2736CF;
    transition: all 0.3s;
}
.lik_buttons{
    display: flex;
    gap: 5px;
    width: 100%;
    background-color: #FFFFFF
}
#social-logo{
    color: #555F62;
}
.social-buttons{
    width:45px;
    height:45px;
    background-color: #F9FAFA;
    border: none;
    border-radius: 10px;

}
.responsive-footer-container{
    display: none;

    

}

#my-select option:first-child{
    background-color: #FFFFFF;
    color: red;
    font-size: 50px;
}
#my-select{
    background-color: #FFFFFF;
    width: 100%;
    height:100px;
    border: 1px solid rgb(225, 219, 219);
    font-size: 25px;
    padding-left: 30px;
    font-weight: 700;
}

.navbar-footer-resp{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(225, 219, 219);
}

.cont-info-resp{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 50px;
    margin-left: 30px;
    height:35vh
}


.cont-info-resp1{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 50px;
    margin-left: 30px;
    height:35vh
}

.resposive-navbar-text{
    width: 100%;
    height:100px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}


.collapse-container, .collapse-container2{
    border-bottom: 1px solid rgb(225, 219, 219);
    width: 100%;
    /* border-top: 1px solid rgb(225, 219, 219); */
    
}


li{
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-info-header2{
    font-size: 30px;
}


.hide-main {
    display: none;
}
.hide-footer {
    display: none;
}
.hide-header{
    display: none;
}
/* .hide-footer-responsive{
    display: none;
} */


.resp-items:hover a{
    cursor: pointer;
    color: #2736CF;
    transition: background-color 0.3s;

}


.nav-responsive-footer-cont{
    width: 100%;
    height: 17vh;
    background-color: #F9FAFA;
    border-top: 1px solid rgb(225, 219, 219);
    margin-top: 30px;
}
.nav-responsive-footer-cont1{
width: 100%;
height: 17vh;
background-color: #F9FAFA;
border-top: 1px solid rgb(225, 219, 219);
margin-top: 30px;

}

.nav-bottom-right1{
    display: flex;
    gap:40px;
    margin-left: 30px;
    margin-top: 30px;
}

.nav-bottom-left1{
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
}


.popup3{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    width: 100%;
    height:45px;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #c3c2c2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease;
}
 
.language-footer:hover .popup3{
    display: block;
}

.resposive-navbar-text:hover{
    cursor: pointer;
}
  